@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

// vars

$mainc: #1481BA;
$secondc: #001021;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $mainc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero-container {
    width: 50vw;
    height: 70vh;
    background-color: $secondc;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    flex-direction: column;

    .links {
        margin-top: 5vh;
        margin-bottom: 5vh;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 16px 32px;
        background-color: #034748;
        border-radius: 3rem;
        transition: 500ms;
        margin: 0 1rem;

    }

}