@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #1481BA;
}

.navbar-container {
    width: 100vw;
    height: 30vh;
    background-color: #001021;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar-container h1 {
    color: #fff;
}

.links {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.links a {
    text-decoration: none;
    color: white;
    padding: 16px 32px;
    background-color: #034748;
    margin-left: 5vh;
    border-radius: 3rem;
    transition: 500ms;
}

.links a:hover {
    background-color: #fff;
    color: #034748;
}

section {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.dog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dog p {
    width: 40vw;
    padding: 16px;
}

.fusion {
    width: 50vw;
    padding: 16px;
}

h1, p {
    color: #fff;
    padding: 5vh 0;
}

h1 {
    font-size: 1.7rem;
}

p {
    font-size: 1.2rem;
}

.fusion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fusion img {
    width: 50vw;
    height: auto;
}

footer {
    background-color: #001021;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 5vh;
    bottom: 0;
}

footer img {
    transform: scale(0.6);
}

